@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Boldonse&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');






body {
    font-family: "Cal Sans", sans-serif;
    font-style: normal;
    color: '#333'
}

html {
    scroll-behavior: smooth;
}



/* Style for the active tab */
.active-tab-home {
    border-bottom: 3px solid #49DEF7; 
    color: #49DEF7;
}

.active-tab-about {
    border-bottom: 3px solid #D4E0B6; 
    color: #D4E0B6;
}

.active-tab-project {
    border-bottom: 3px solid #FECF56; 
    color: #FECF56;
}

.active-tab-artwork {
    border-bottom: 3px solid #F376A0; 
    color: #F376A0;
}

.active-tab-resume {
    border-bottom: 3px solid #BFBFBF; 
    color: #BFBFBF;
}
  
.MDBNavbarLink {
    transition: border-bottom 0.3s ease, color 0.3s ease;
}




.art-image-wrapper {
  position: relative;
  height: 100%;
}

.art-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.art-image-wrapper:hover .art-overlay {
  opacity: 1;
}




  

.nav-items {
    font-size: 1.1em;
}

@media (max-width: 768px) {
    .nav-items {
        font-size: 0.8em;
    }
}
  

  
@media (min-width: 768px) {
    .timeline-image {
        max-width: 65vw;
    }
}
  

  